body{
    text-align: center;
    background-color: aqua;
    padding: 10px;
}
h1{
    color: red;
}
.abc{
    background-color: black;
    color: white;
    padding
}
.pqr{
    background-color: lightpink;
    padding: 10px;

}