body{
    text-align: center;
    background-color: aqua;
    padding: 20px;
}
h1{
    color: red;
}
.abc{
    background-color: black;
    color: white;
    padding:10px;
    margin-left: auto;
}
.pqr{
   background-color:lightpink;
   padding: 10px;

}